.skillsContainer {
    padding: 15px;
    margin: 15px;
    background-color: #618CC7;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsContainer h3 {
    padding: 10px;
    margin-bottom: 10px;
}

.skillsCardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}