.aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;
    background-color: #618CC7;
}

.aboutMeContainer h3 {
    padding: 10px;
    margin-bottom: 10px;
}

.aboutMeContainer p {
    text-align: justify;
}

@media screen and (max-width: 550px) {
    .aboutMeContainer h3 {
        font-size: 14px;
    }
}